#avatar-container{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    overflow: hidden;
    margin-top: 20px;

}
#repo-container{
    margin-top: 450px;
    /* border: solid black 1px;  */
}

#language-JavaScript{
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: blue;
    color: #ffffff;
}
#language-HTML {
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: green;
    color: #ffffff;
}
#language-TypeScript{
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: salmon;
    color: #ffffff;
}
#language-Java {
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: skyblue;
    color: #ffffff;
}
#language-Ruby{
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: darkcyan;
    color: #ffffff;

}
#language-null{
    padding:10px;
    /* border: solid 1px black; */
    border-radius: 10%;
    background-color: gray;
    color: #ffffff;
}